<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="NorthwindEntities" connectionString="metadata=NorthwindEFModel.csdl|NorthwindEFModel.ssdl|NorthwindEFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=NorthwindEF;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="LazyNorthwind.Properties.Settings.NorthwindEFConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=NorthwindEF;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>