<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <switches>
      <add name="mySwitch" value="2"/>
      <!-- 
          0: Off
          1: Error
          2: Warning
          3: Info
          4: Verbose
        -->
    </switches>
  </system.diagnostics>
</configuration>