<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="Form1.ShowInTaskbar" value="True" />
		<add key="Form1.Text" value="Dynamic Properties 範例" />
		<add key="Button1.Text" value="從 app.config 中修改此屬性" />
	</appSettings>
</configuration>