<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TestLib" publicKeyToken="b1eac9f992b3e960" />
        <publisherPolicy apply="no" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
        <codeBase version="2.0.0.0" href="file:///c:/5/v2/TestLib.dll" />
      </dependentAssembly>
      <probing privatePath="V2" />
    </assemblyBinding>
  </runtime>
</configuration>